/* Шрифты */
font-family: "League Spartan", sans-serif;
font-family: "Open Sans", sans-serif;

/* Шапка сайта */
.header {
  
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 166px;
}
/* Меню сайта */

.header-line {
  padding-top: 55px;
  display: flex;
  align-items: center;
}

.header-logo {
}

.nav {
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

.cart {
}

.phone {
}

.number {
}

.phone-text {
}
/* //Меню сайта */
/*//шапка сайта */
